main {
    position: relative;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }
.container {
    padding: 0px 5%;
    width: 100%;
    height: 100%;

}
.upper_text {
    text-transform: uppercase;
}
.absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//  тут шрифти 400 ==================>
.sub_title {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    
    &_00 {
        font-size: 12px;
    }
    &_0 {
        font-size: 14px;
    }
    &_1 {
        font-size: 16px;
    }
    &_2 {
        font-size: 18px;
    }

  
    
}

//  тут шрифти 500 ==================>
.medium_title {
    font-stretch: 500;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 600;
    
    &_1 {
        font-size: 14px;
    }
  
}


//  тут шрифти 600 ==================>
.standart_title {
    font-stretch: 600;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 600;

    &_0 {
        font-size: 16px;
    }
    &_1 {
        font-size: 18px;
    }
    &_3 {
        font-size: 38px;
    }
  
}


//  тут шрифти 700 ==================>
.main__title {
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;

    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 28px;
    }
    &_4 {
        font-size: 38px;
    }
    &_7 {
        font-size: 50px;
    }
   
}

//  тут шрифти 900 ==================>
.bigger_title {
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;

    &_2 {
        font-size: 120px;
    }

    &_3 {
        font-size: 21px;
    }
   
}

.color {
    &_red {
        color: #E3000F;
    }
    &_red_2 {
        color: #F5222D;
    }
    &_orange {
        color: #FA8C16;
    }
    &_black {
        color: #1D293F;
    }
    &_white {
        color: #fff;
    }
}



@media (max-width: 672px) {
    .main__title_7 {
        font-size: 40px;
    }
    .bigger_title_3 {
        font-size: 15px;
    }
    
}
@media (max-width: 520px) {
    .main__title_2 {
        font-size: 20px;
    }
}
@media (max-width: 410px) {
    .main__title_4 {
        font-size: 26px;
    }
}
@media (max-width: 380px) {
    .main__title_7 {
        font-size: 26px;
    }
    .standart_title_1 {
        font-size: 15px;
    }
}