.form{
    &_file{
        &_downloads{
            height: 40px;
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: scale(1) translateY(-50%);
            transition: .3s;
            & .text{
                font-size: 14px;
                font-weight: 500;
                color: #242321;
                display: inline-block;
            }
            & .icon{
                width: 18px;
                margin-left: 10px;
                display: inline-block;
                & svg{
                    display: block;
                    height: 100%;
                    overflow: visible;
                    position: relative;
                    width: 100%;
                    transition: .3s;
                    transform:rotate(0);
                }
            }
            &:hover{
                transition: .3s;
                transform: scale(1.01)  translateY(-50%);
                & .icon{
                    & svg{
                        transition: .3s;
                        transform:rotate(90deg);
                    }
                }
            }
        }
        &_load{
            transition: .3s;
            &.highlight{
                transition: .3s;
               border-style: dashed; 
            }
        }
    }
  }

  .radio_group{
    margin-right: 30px;
    margin-bottom: 20px;
    &__header {
        display: flex;
        align-items: center;
        min-width: 249px;
        
    }
    &__btn{
        min-height: 48px;
        position: relative;
        display: flex;
    }
    &-check{   
        cursor: pointer;
        &.is-active{
            & .radio{
                &_group{
                    &__main{
                        display: block;
                    }
                    &__check{
                        &:before{
                            background: #ffc80d;
                            transition: .3s;
                        }
                    }
                }
            }
            
        }

    }
    &__check{
        margin-right: 20px;
        height: 26px;
        width: 26px;
        border: 1px solid #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            height: 14px;
            width: 14px;
            background: #fff;
            content: "";
            z-index: 10;
            display: block;
            border-radius: 50%;
        }
        & input{
            width: 0.1px;
            height: 0.1px;
            visibility: hidden;

        }
    }
    &__label{
        font-size: 16px;
        line-height: 1.5;
        color: #302d2d;
    }
    &__subtitle{
        font-size: 14px;
        line-height: 1.71;
        color: #302d2d;
        margin: 4px 0 10px;
    }
    &__main{
        grid-column-start: 2;
        display: none;
        margin-left: 48px;
    


    }
  }

 



 #file_logo__life{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

@media screen and (max-width: 1200px){
    .radio{
        &_group{
            &__check{
                height: 20px;
                width: 20px;
                &:before{
                    height: 10px;
                    width: 10px;  
                }
            }
        }
    }
}



.radio {
    &_block {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 15px;
    }
    &_tchk {
        position: relative;
        width: 26px;
        height: 26px;
        border: solid 1px #242321;
        border-radius: 50%;
        margin-right: 10px;

    }
    &_center {
        transition: all .2s;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: transparent;
        &_active {
            background: #ffd10a;
        }
    }
}

