.wrap_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    // height: calc((var(--vh, 1vh) * 100) - 70px);
    object-fit: cover;
    overflow: hidden;
}
*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
